/* Main Container  */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9fb;
    color: #333;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #ffffff;
    box-shadow:  0 2px 4px rgba(0,0,0,0.05);
    padding: 10px 20px
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #5c6bc0;
}